body{
    background:green;
    background:linear-gradient(to right, rgb(92,210,144),rgb(136,222,118));
    height:fit-content;
    width:fit-content;
}
.color{
    width:60rem;
    background:white;
    margin-left:15rem;
    height:50rem;
    margin-top:5rem;
    border-radius:19px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
    
}
.color > a{
    font-size:25px;
    padding-top:2rem;
    padding-bottom:0.4rem;
    text-decoration:none;
    font-family:sans-serif;
    color:black;
    font-weight:bold;
    
    
}
a:hover{
    color:tomato;
}
hr{
    height:1px;
    width:60rem;
}
